<div class="card w-100 mt-3" style="padding:1rem;">
    <h5 class="card-title fw-bolder mb-0">Notes</h5>
    <hr>
    <ul class="overflow-auto notes-list">
        <li class="d-flex flex-row mb-1 pb-1">
            <p class="ms-2 mb-0"><em>Password for POSTGRE server is admin123#</em></p> 
        </li>
        <li class="d-flex flex-row mb-1 pb-1">
            <p class="ms-2 mb-0"><em>Account for DoTo is admin/admin123#</em></p> 
        </li>
        <li class="d-flex flex-row mb-1 pb-1">
            <p class="ms-2 mb-0"><em>Take the thrash</em></p> 
        </li>
        <li class="d-flex flex-row mb-1 pb-1">
            <p class="ms-2 mb-0"><em>Take the thrash</em></p> 
        </li>
        <li class="d-flex flex-row mb-1 pb-1">
            <p class="ms-2 mb-0"><em>Take the thrash</em></p> 
        </li>
    </ul>
</div>
