<div class="card" style="width:18rem;">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="card-title d-flex flex-row" style="margin:0;padding:5px;">
                <span>Messages</span> 
            </div>
            <span style="margin:0;padding:5px;">Clear All</span>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">First</li>
        <li class="list-group-item">Second</li>
        <li class="list-group-item">Third</li>
    </ul>
    <div class="card-footer">
        <p class="text-center" style="margin:0;padding:0">View All</p>
    </div>
</div>
