.project-icon{
    background-color: #eee5ff;
    color: #212529;
    width:2.5rem;
    height:2.5rem;
    font-size: 1rem;
}

.btn-view{
    background-color: inherit;
}

.card{
    height: 315px;
}
