.project-icon{
    background-color: #eee5ff;
    color: #212529;
    width:3rem;
    height:3rem;
    font-size: 1.1rem;
}

.tasks-line{
    height: auto;
    background-color: #babdbe;
    width: 1px;
}
