<div class="card w-100 mt-3" style="padding:1rem;">
    <h5 class="card-title fw-bolder mb-0">Activities</h5>
    <hr>
    <ul class="activity-list overflow-auto">
        <li class="mb-3">
            <span class="activity-dot"></span>
            <div class="d-flex flex-row justify-content-between pe-2">
                <h6 class="activity-title pe-2 ps-2 fw-bold">Task Done</h6>
                <span class="activity-date-info">06 Mon at 13:03</span>
            </div>
            <p>Alex finished <a class="link-primary"><em>Task:Task Title</em></a></p>
        </li>
        <li class="mb-3">
            <span class="activity-dot"></span>
            <div class="d-flex flex-row justify-content-between pe-2">
                <h6 class="activity-title pe-2 ps-2 fw-bold" style="background-color: #a8d7e0;">Project Created</h6>
                <span class="activity-date-info">12 Tue at 13:03</span>
            </div>
            <p>Alex created <a class="link-primary"><em>Project:Project Title</em></a></p>
        </li>
        <li class="mb-3">
            <span class="activity-dot"></span>
            <div class="d-flex flex-row justify-content-between pe-2">
                <h6 class="activity-title pe-2 ps-2 fw-bold" style="background-color: #cf9eac;">Task Deleted</h6>
                <span class="activity-date-info">12 Tue at 13:03</span>
            </div>
            <p>Alex deleted <em>Task:Task Title</em></p>
        </li>
        <li class="mb-3">
            <span class="activity-dot"></span>
            <div class="d-flex flex-row justify-content-between pe-2">
                <h6 class="activity-title pe-2 ps-2 fw-bold" style="background-color: #cf9eac;">Task Deleted</h6>
                <span class="activity-date-info">12 Tue at 13:03</span>
            </div>
            <p>Alex deleted <em>Task:Task Title</em></p>
        </li>


    </ul>

</div>

